<header>
    <div class="header-content">
        <div class="header-content-inner">
          <div class="container">
            <%= simple_form_for @book do |f| %>
              <%= f.input :title%>
              <%= f.input :content %>
              <%= f.input :price %>
              <%= f.input :city %>
              <%= f.input :avatar, as: :file %>
              <%= f.button :submit%>
            <% end %>
            <h3><%= link_to "back", books_path %></h3>
          </div>
        </div>
    </div>
</header>
