<header>
    <div class="header-content">
        <div class="header-content-inner">
          <div>
            <h1> this is the details of book</h1>
            <h3> Title : <%= @book.title %> </h3>
            <h3> Content : <%= @book.content %> </h3>
            <h3> Price : <%= @book.price %> </h3>
            <h3> City : <%= @book.city %> </h3>
            <div style="width:100%">
              <div id="map" style='width: 100%; height: 400px;'></div>
            </div>
            <%= link_to "Back", books_path %>
          </div>
        </div>
    </div>
</header>

<% content_for :js do %>
  <script src="//maps.google.com/maps/api/js?key=AIzaSyA0HdmhzVt5u8-luM0E6JlFRAZimQA6eb4"></script>
  <script>
    var initializeMap = function() {
      var handler;
      handler = Gmaps.build("Google");
      handler.buildMap({
        provider: {
          //maxZoom: 15,
          minZoom: 10
        },
        internal: {
          id: "map"
        }
      }, function() {
        var markers;
        markers = handler.addMarkers([
          {
            lat: <%= @book.latitude %>,
            lng: <%= @book.longitude %>,
            infowindow: "holla"
          }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    };

    initializeMap();
  </script>
<% end %>
