<!DOCTYPE html>
<html>
  <head>
    <title>Book Hosting Application</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <%= render 'layouts/navbar' %>

  <body>
    <% if notice %>
      <div class="alert alert-info" style="fixed-top">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-info">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>

    <!-- Yield javascript code for google map in each page and full map display -->
    <%= yield :js %>
    <%= yield :full_js %>
    <!-- End of Javascript -->

  </body>

</html>
