<!DOCTYPE html>
<html>
  <head>
    <title>MyappAuthentication</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//maps.google.com/maps/api/js?key=AIzaSyA0HdmhzVt5u8-luM0E6JlFRAZimQA6eb4"></script>

  </head>

  <%= render 'layouts/navbar' %>

  <body>
    <% if notice %>
      <div class="alert alert-info" style="fixed-top">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-info">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
  provider: {
    disableDefaultUI: true
    // pass in other Google Maps API options here
  },
  internal: {
    id: 'map'
  }
},
function(){
  markers = handler.addMarkers([
    {
      "lat": 0,
      "lng": 0,
      "picture": {
        "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
        "width":  32,
        "height": 32
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
}
);
</script>
</html>
